.app__button {
  padding: 10px;
  cursor: pointer;
  border: none;
  background-color: #659DBD;
  color: #eeeeee;
  font-weight: bold;
  height: 64px;

  &:hover {
    background-color: #5B8DAA;
  }
}
