@import "app-input";
@import "app-font";
@import "app-button";
@import "app_dropdown";
@import "main-page";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  //min-width: 360px;
  background-color: #ddd;
}

.app__wrap {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  background-color: #fff;
}

.app__container {
  padding-left: 128px;
  padding-right: 128px;

  @media (max-width: 1024px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

